$bgcolor-header: #fff;
$bgcolor-contentarea: #F2F5F8;

.App {
    height: 100%;
    background-color: $bgcolor-contentarea;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(10, 1fr);
}

.header {
    background-color: $bgcolor-header;
    border-bottom: 1px solid #E6EAEE;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 4fr;
    justify-items: center;

    p {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        color: #2A2D31;
        font-size: 25px;
    }
}